@font-face {
  font-family: Aeonik;
  src: url(../fonts/Aeonik-Regular.otf)
}

@font-face {
  font-family: Aeonik;
  src: url(../fonts/Aeonik-Medium.otf);
  font-weight: 500
}

@font-face {
  font-family: Aeonik Mono;
  src: url(../fonts/AeonikMono-Regular.otf)
}

@font-face {
  font-family: Aeonik Mono;
  src: url(../fonts/AeonikMono-Medium.otf);
  font-weight: 500
}

@font-face {
  font-family: Aeonik Mono;
  src: url(../fonts/AeonikMono-Bold.otf);
  font-weight: 700
}

@font-face {
  font-family: Whyte Inktrap;
  src: url(../fonts/WhyteInktrap-Regular.ttf)
}

@font-face {
  font-family: Whyte Inktrap;
  src: url(../fonts/WhyteInktrap-Medium.ttf);
  font-weight: 500
}
