.home-page .home-first-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 821px;
}

.home-page .home-first-screen .video-bg {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1096px;
  height: 821px;
  flex-shrink: 0;
}

.home-page .home-first-screen .slogan {
  display: flex;
  flex-direction: column;
  height: 349px;
  width: 820px;
  color: #fff;
  font-family: Whyte Inktrap;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal
}

.home-page .home-first-screen .slogan span {
  height: 110px
}

.home-page .home-first-screen .slogan .right {
  text-align: right
}

.home-page .home-first-screen .desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 820px
}

.home-page .home-first-screen .desc .desc-text {
  width: 480px;
  padding: 20px 45px;
  color: #525252;
  text-align: right;
  font-family: Aeonik;
  font-size: 16px
}

.home-page .home-first-screen .desc .desc-text .white {
  color: #fff;
  text-decoration: underline
}

.home-page .home-first-screen .desc .launch-btn {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 90px;
  padding: 2px;
  border: none;
  background-image: linear-gradient(90deg, #ff0000, #bdff00, #00ff66, #00b2ff, #2400ff, #ff00d6)
}

.home-page .home-first-screen .desc .launch-btn .label {
  width: 100%;
  height: 100%;
  line-height: 46px;
  border-radius: 90px;
  background: #000;
  color: #fff;
  font-family: Aeonik Mono;
  font-size: 20px
}

.home-page .home-first-screen .desc .launch-btn .label:hover {
  background: #fff;
  color: #000
}

.home-page .home-container {
  display: flex;
  flex-direction: column;
  gap: 160px;
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 160px;
  box-sizing: border-box;
}

.home-page .home-container .statistic {
  display: flex;
  width: 1278px;
  height: 160px;
  padding: 40px 39px 41px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #606060;
  background: #181818
}

.home-page .home-container .statistic .statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center
}

.home-page .home-container .statistic .label, .home-page .home-container .statistic .value {
  color: #999;
  text-align: center;
  font-family: Aeonik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.home-page .home-container .statistic .label .unit, .home-page .home-container .statistic .value .unit {
  font-size: 20px;
  padding-left: 10px
}

.home-page .home-container .statistic .value {
  color: #fff;
  font-size: 46px
}

.home-page .home-container .sub-title {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Aeonik Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize
}

.home-page .home-container .sub-desc {
  color: #8c8c8c;
  font-family: Aeonik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.home-page .home-container .inscribe .sub-title {
  font-size: 32px;
  margin-bottom: 10px
}

.home-page .home-container .inscribe .sub-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px
}

.home-page .home-container .inscribe .sub-content .item {
  display: flex;
  align-items: center;
  height: 120px
}

.home-page .home-container .inscribe .sub-content .item .icon {
  flex-shrink: 0;
  margin-right: 12px
}

.home-page .home-container .inscribe .sub-content .item .info {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Aeonik;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal
}

.home-page .home-container .inscribe .sub-content .item .info .text {
  width: 280px;
  color: #8c8c8c;
  font-size: 18px
}

.home-page .home-container .partners .sub-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 63px;
  margin-top: 20px
}

.home-page .home-container .grants .sub-content {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.home-page .home-container .grants .sub-content .item {
  padding: 37px 0
}

.home-page .home-container .cards {
  display: flex;
  gap: 40px
}

.home-page .home-container .cards .card {
  flex: 1 1;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  border-radius: 20px;
  border: 1px solid #606060;
  background: #181818
}

.home-page .home-container .cards .card.col {
  flex-direction: column
}

.home-page .home-container .cards .card .card-info {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Aeonik;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.home-page .home-container .cards .card .card-info .card-desc {
  margin-top: 12px;
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500
}

.home-page .home-container .cards .card .card-info .width336 {
  width: 336px
}

.home-page .home-container .cards .card .card-img {
  padding-top: 40px;
  padding-bottom: 25px
}

.home-page .home-container .cards .card .card-inner {
  display: flex;
  justify-content: space-between
}

.home-page .home-container .cards .card .card-inner .width226 {
  width: 226px
}

.home-page .home-container .cards .card .card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px
}

.home-page .home-container .cards .card .card-btn .trade-btn {
  display: flex;
  width: 226px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 18px;
  padding: 2px;
  border: none;
  background-image: linear-gradient(90deg, #ff0000, #bdff00, #00ff66, #00b2ff, #2400ff, #ff00d6)
}

.home-page .home-container .cards .card .card-btn .trade-btn .label {
  width: 100%;
  height: 100%;
  line-height: 46px;
  border-radius: 18px;
  background: #181818;
  color: #fff;
  font-family: Aeonik Mono;
  font-size: 20px
}

.home-page .home-container .cards .card .card-btn .trade-btn .label:hover {
  background: #fff;
  color: #000
}

.home-page .home-container .cards .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 620px
}

@media (max-width: 768px) {
  .home-page .home-first-screen {
    height: 600px
  }
  .home-page .home-first-screen .video-bg {
    width: 200vw;
    height: auto
  }
  .home-page .home-first-screen .slogan, .home-page .home-first-screen .desc {
    width: calc(100vw - 30px)
  }
  .home-page .home-first-screen .slogan {
    font-size: 40px;
    height: 200px
  }
  .home-page .home-container {
    width: calc(100vw - 30px);
    gap: 80px;
    padding-bottom: 80px
  }
  .home-page .home-container .statistic {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
  }
  .home-page .home-container .statistic .statistic-item {
    width: 45%
  }
  .home-page .home-container .inscribe .sub-content {
    flex-direction: column
  }
}
